/* Styles the notes in ColorSelector */
.note-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 2rem;
}

.note-grid > .note {
    flex: 1 1 15%;
    padding-top: 2vh;
    padding-right: 3vw;
}

.play-note {
    height: 2vw;
    cursor: pointer;
}

.note {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: .5vw;
    height: auto;
}

.note-color {
    width: 30px;
    height: 30px;
    border: none;
    border-color: transparent;
}

.note-color:hover {
    opacity: 0.8;
}